In [1]:
import pandas as pd, numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pickle
import datetime
import warnings
warnings.filterwarnings("ignore")

### Import dataset

In [2]:
train= pd.read_csv('../data/train.csv')
store= pd.read_csv('../data/store.csv')
test= pd.read_csv('../data/test.csv')

### Explore the dataset

There are three different datasets, which are train, test, and store. There should be a link between store and other datasets, therefore, we need to examine the datasets closely.

In [367]:
train.head(2)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1

In [368]:
train.tail(2)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

Data ranges from Jan 1st, 2013 to Jul 31st, 2015. There arer 1115 unique stores and it might be possible that some stores are closed temporarily because they do not have profit at the sales column. There should be various State Holidays.

There are different store types and assortments, and this could be an indicator of different sales because different store sizes have different number of customers and sales. The feature called CompetitionDistnace can be useful because if stores are closed to their competitors they might have more promotions.

In [369]:
store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [370]:
store[store.Promo2 == 1].describe()['CompetitionDistance']

count      570.000000
mean      4316.508772
std       5354.788891
min         20.000000
25%        575.000000
50%       2210.000000
75%       5590.000000
max      27190.000000
Name: CompetitionDistance, dtype: float64

In [371]:
store[store.Promo2 == 0].describe()['CompetitionDistance']

count      542.000000
mean      6549.520295
std       9374.321188
min         30.000000
25%        992.500000
50%       2640.000000
75%       8105.000000
max      75860.000000
Name: CompetitionDistance, dtype: float64

It appears that the existence of Promo 2 is based on the distance between the stores and competitors. Stores with Promo 2 has a smaller mean related to the stores without Promo 2, and standard deviation of stores with promo 2 is much smaller compared to the standard devidation of the stores without promo2.

##### Holidays

Although the two elements deliver same information, there are 2 zeros in the feature called StateHoliday. This is because one is in strings, while the other is in integers. We can combine these two values.

In [372]:
train['StateHoliday'] = train['StateHoliday'].astype('object')

In [373]:
train['StateHoliday'].replace(0, '0', inplace= True)

In [374]:
train['StateHoliday'].replace('0', 'NoHoliday', inplace= True)

##### Missing Values

It appears that there are some missing values in the store and test datasets.

###### Store

In [375]:
store.Promo2SinceWeek.fillna(0.0, inplace= True)

Missing values in Promo 2 since week happen because promo2 do not happen at the stores. Therefore, we can impute the null values as 0.

In [376]:
store.Promo2SinceYear.fillna(2016, inplace= True)

For the feature promo 2 since year, it does not make sense to impute the null values with 0. I will impute an arbitary number in order to avoid a problem with regards to the distribtuion. Since the data is collected from 2013 to 2015, we can impute the null values as 2016.

In [377]:
store.PromoInterval.fillna('N/A', inplace= True)

Missing values in the Promointerval column happened when the feature Promo2 is 0. Therefore, we can impute the null values as N/A.

In [378]:
store.CompetitionOpenSinceMonth.fillna(store.CompetitionOpenSinceMonth.median(), inplace= True)
store.CompetitionOpenSinceYear.fillna(store.CompetitionOpenSinceYear.median(), inplace= True)
store.CompetitionDistance.fillna(store.CompetitionDistance.median(), inplace= True)

For competition since month and year and the distance, imputing missing values with the median instead of the mean. By imputing the median, we can impute the null values as integers instead of floats.

### Export the data

In [399]:
store.to_csv('../assets/clean_store.csv')

###### Test

In [379]:
train[train.Store == 622].head(7)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
621,622,5,2015-07-31,6306,540,1,1,NoHoliday,1
1736,622,4,2015-07-30,5412,406,1,1,NoHoliday,1
2851,622,3,2015-07-29,5326,468,1,1,NoHoliday,1
3966,622,2,2015-07-28,4966,417,1,1,NoHoliday,1
5081,622,1,2015-07-27,5413,517,1,1,NoHoliday,1
6196,622,7,2015-07-26,0,0,0,0,NoHoliday,0
7311,622,6,2015-07-25,2644,257,1,0,NoHoliday,0

Based on the train dataset, the store 622 is currently running. Therefore, we can impute the null values as open, as long as the feature DayOfWeek is not 7.

In [380]:
test.Open.fillna(1, inplace= True)

### Merge the dataset

In [381]:
df= pd.merge(train, store, on= 'Store')

In [382]:
test_df= pd.merge(test, store, on= 'Store')

The two datasets, which are train and test, have the same feature called store. We can use the store column to merge the datasets and use the two datasets for analyzing.

#### Drop rows

We can drop the rows that have sales as 0 and customers as 0.

In [383]:
new_df= df[(df.Sales != 0) & (df.Customers != 0)]

#### Date as index

After checking the dataset, we notice that the feature date is encoded as strings, which can be converted to date objects. It is helpful converting to the date object when we are dealing with time seires dataset.

In [384]:
new_df['Date']= pd.to_datetime(new_df['Date'])
new_df.set_index(new_df['Date'],inplace=True)
test_df['Date']= pd.to_datetime(test_df['Date'])
test_df.set_index(test_df['Date'],inplace=True)

##### Promo2 feature

For some stores, promo2 had started after data was collected, which means that some values in the promo2 feature are 0.

In [385]:
new_df= new_df.assign(Promo2On = lambda df: ((df.Date.map(lambda x: x.year) == df.Promo2SinceYear) 
              & (df.Date.map(lambda x: x.week) >= df.Promo2SinceWeek))
              | (df.Date.map(lambda x: x.year) > df.Promo2SinceYear))

Since there is an issue when merging the two datasets, we can use the Promo2On feature instead of Promo2. We can drop the Promo2 column.

In [386]:
new_df.drop(columns= 'Promo2', inplace= True)

#### Change data type

It makes sense to convert year and month related datasets into integer instead of float. Therefore, columns that are related time frame can be converted to integer.

In [387]:
for col in ['CompetitionOpenSinceMonth' , 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear']:
    new_df[col]= new_df[col].astype(int)

#### Create new featues

In [388]:
new_df= new_df.assign(Old = lambda df: df.PromoInterval.apply(lambda x: x.split(',')))

We can seperate the months with regards to promo2. By doing this, we can figure out which month has will be the start of promo2.

In [389]:
new_df['FirstPromo2'] = new_df.Old.apply(lambda x: 0 if 'N/A' in x
                 else x[0])

In [390]:
new_df['SecondPromo2'] = new_df.Old.apply(lambda x: 0 if 'N/A' in x
                 else x[1])

In [391]:
new_df['ThirdPromo2'] = new_df.Old.apply(lambda x: 0 if 'N/A' in x
                 else x[2])

In [392]:
new_df['FourthPromo2'] = new_df.Old.apply(lambda x: 0 if 'N/A' in x
                 else x[3])

In [393]:
month_convert = {
    'Jan':1,
    'Feb':2,
    'Mar':3,
    'Apr':4,
    'May':5,
    'Jun':6,
    'Jul':7,
    'Aug':8,
    'Sept':9,
    'Oct':10,
    'Nov':11,
    'Dec':12
}

In [394]:
def set_month(row):
    if row.PromoInterval == 'N/A':
        return 'N/A'
    return row.FirstPromo2 if row.Date.month >= month_convert[row.FirstPromo2] and row.Date.month < month_convert[row.SecondPromo2] else\
            (row.SecondPromo2 if row.Date.month >= month_convert[row.SecondPromo2] and row.Date.month < month_convert[row.ThirdPromo2] else\
             (row.ThirdPromo2 if row.Date.month >= month_convert[row.ThirdPromo2] and row.Date.month < month_convert[row.FourthPromo2] else\
              row.FourthPromo2))

In [395]:
new_df['Promo2BeginMonth'] = new_df.apply(set_month, axis=1)

###### New feautes from index

For explatory data analysis, we can use week and quarter in order to find a trend with regards to the total sales. Therefore, we can create new columns based on index including week, month, quarter, and year.

In [396]:
new_df['Week'] = new_df.index.week
new_df['Month'] = new_df.index.month
new_df['Quarter'] = new_df.index.quarter
new_df['Year'] = new_df.index.year

#### Export the datasets

In [397]:
new_df.to_csv('../assets/df.csv')

In [398]:
test_df.to_csv('../assets/test_df.csv')